<template>
  <div class="diaryDetailsHolder">
    <div class="back" @click="goBack">
      <v-icon>mdi-reply</v-icon>
    </div>
    <div class="row colorWhite stayingSafe" style="align-items: baseline;">
      <div class="col-md-4 text-left">
        <h4>Letters from Europe <br/> Staying safe and connected</h4><br/><br/>
        <p class="lettersFromEurope">Letters from Europe is the initiative by CET Platform Society with the purpose of staying in touch with CET family outside Ptuj, Slovenia, as well as with friends and partners the organisation has overseas. A collection offers an insight into life across Europe during the times of pandemic. Thoughts, reflections and stories will take the reader on a journey around the continent, to discover how ‘Coronacrisis’ has changed life as we know.
          CET has invited members of CET Platform Society, as well as our friends and partners from all over Europe, to contribute to the collection of Letters from Europe with their personal stories.</p>
      </div>
      <div class="col-md-8">
        <h4 class="letterTitle" v-html="details.title_en"></h4>
        <span class="detailsText" v-html="details.description_en"></span>
      </div>
    </div>
  </div>
</template>
<script src="./CovidDiaryDetails.ts" lang="ts"/>
<style lang="scss">
.lettersFromEurope {
  padding: 20px 20px 20px 10px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.colorWhite {
  color: white
}
.back {
  position: absolute;
  left: 50px;
  top: 20px;
  i {
    font-size: 3em !important;
    color: white !important;
    cursor: pointer;
  }
  i:hover {
    text-decoration: underline;
  }
}
.diaryDetailsHolder {
  padding: 20px;
}
.detailsText {
  background: url("../../../assets/images/open_letter.svg");
  background-size: cover;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 60px;
  text-align: justify;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}
.letterTitle {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 600px) {
  .back {
    position: absolute;
    left: 10px;
    top: 80px;
    z-index: 9999999999;
  }
  .stayingSafe {
    margin-top: 40px!important;
  }
}
</style>
