<template>
  <div class="mt-5 pt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" id="calendar">
            <iframe
              src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23000000&ctz=Europe%2FBelgrade&src=Y292aWRtZW1icmFuY2VAZ21haWwuY29t&color=%23039BE5&title=Covidmembrance&showTitle=0&showPrint=0&showTabs=1&showCalendars=0&showDate=0"
              style="border-width:0" width="100%" height="650" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./Laboratory.component.ts"/>
<style>

</style>
