<template>
  <div class="mt-5 pt-3">
    <div class="row" v-if="slide">
      <div class="col-md-7" style="border-right: 0.5px solid white">
        <div class="row">
          <div class="col-md-12">
            <template v-if="currentLang === 'en'">
              <div v-html="slide.source_en"></div>
            </template>
            <template v-if="currentLang === 'mk'">
              <div v-html="slide.source_mk"></div>
            </template>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 colorWhite justify-center" style="padding-right: 10px">
            <h1 v-if="currentLang === 'en'">
              {{slide.name}}
            </h1>
            <h1 v-if="currentLang === 'mk'">
              {{slide.name_mk}}
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-5 colorWhite justify-center align-start">
        <p class="desc" v-if="currentLang === 'en'">
          {{slide.description_en}}
        </p>
        <p class="desc" v-if="currentLang === 'mk'">
          {{slide.description_mk}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="border-right: 0.5px solid white"></div>
      <div class="col-md-5 col-sm-12 colorWhite text-left infoFont">
        <p class="desc" v-if="currentLang === 'en'">
          Covidmembrance is a short documentary miniseries project that elaborates five different themes concerning the global pandemic cause by Covid 19 virus. The stories tend to show the different aspects caused from social-economic, cultural and psychological changes from the pandemic.
        </p>
        <p class="desc" v-if="currentLang === 'mk'">
          Covidemembrance е краток документарен проект кој обработува пет различни теми поврзани со светската пандемија предизвикана од вирусот Ковид 19. Приказните опфатени во минисеријалот имаат за цел да ги прикажат различните аспекти предизвикани од социо-економските, културните и психолошките промени од пандемијата.
        </p>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./SlideDetails.component.ts"/>
<style>
.colorWhite {
  color: #ffffff;
}
.desc {
  font-size: 1.3em;
  padding-right: 20px;
}
.border-left {
  border-left: 1px solid white;
}
.infoFont {
  font-size: 12px;
}
</style>
