<template>
  <div class="mt-5 pt-3">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ul class="nav nav-tabs pl-5 pr-5">
          <li class="nav-item">
            <a :class="{'nav-link': true, 'active': currentTab === 'interviews'}" id="interviews-tab" data-toggle="tab"
               href="#interviews" role="tab" aria-controls="interviews" aria-selected="true">{{$t('labels.interviews')}}</a>
          </li>
          <li class="nav-item">
            <a :class="{'nav-link': true, 'active': currentTab === 'mixMedia'}" id="mixMedia-tab" data-toggle="tab"
               href="#mixMedia" role="tab" aria-controls="mixMedia" aria-selected="true">{{$t('labels.mixMedia')}}</a>
          </li>
        </ul>
        <div class="tab-content text-left p-5">
          <div :class="{'tab-pane': true, 'active': currentTab === 'interviews'}" id="interviews" role="tabpanel"
               aria-labelledby="interviews-tab">
            interviews
          </div>
          <div :class="{'tab-pane': true, 'active': currentTab === 'mixMedia'}" id="mixMedia" role="tabpanel"
               aria-labelledby="mixMedia-tab">
            mixMedia
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./Depot.component.ts"/>
<style>
.nav-link{
  color: white!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: black;
  color: white;
  border-bottom: 1px solid black;
}
.tab-content{
  color: white;
}
</style>
