<template>
  <div class="exhibition">
    <div class="row">
      <div class="col-md-12 carouselHolder">
        <carousel-3d v-if="slides && slides.length" ref="carousel" :onMainSlideClick="enterSlide">
          <slide v-for="(item, ind) in slides" :index="ind" :key="ind" class="pointer">
            <img :src="item.thumbnail"/>
          </slide>
        </carousel-3d>
      </div>
    </div>
    <div>
      <v-dialog
        class="dialog"
        v-model="showGallery"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar dark class="toolbar">
            <v-btn
              icon
              dark
              @click="showGallery = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{$t('labels.back')}}</v-toolbar-title>
          </v-toolbar>
          <div class="galleryHolder">
            <div class="previousBtn cursorPointer" @click="selectPreviousSlide">
              <span>&#60;</span>
            </div>
            <div class="imageHolder">
              <div class="image" :style="{background: `url('${selectedSlide ? decodeURI(selectedSlide.thumbnail) : ''}')`}"/>
              <div class="row" v-if="selectedSlide">
                <div class="col-md-6 colorWhite">
                  <img src="@/assets/images/photo_1.png"/>
                  <span>{{selectedSlide.author}}</span>
                </div>
                <div class="col-md-6 colorWhite" :style="{justifyContent: 'end'}">
                  <img src="@/assets/images/location.png"/>
                  <span>{{selectedSlide.country}}</span>
                </div>
              </div>
            </div>
            <div class="nextBtn cursorPointer" @click="selectNextSlide">
              <span>&#62;</span>
            </div>
          </div>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script lang="ts" src="./Exhibition.component.ts"/>
<style lang="scss">
.nextBtn, .previousBtn {
  color: white;
  width: 10%;
  font-size: 3.5em;
  font-weight: bold;
}
.imageHolder {
  max-width: 80%;
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
  .image {
    height: 85vh;
    display: block;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position-x: center!important;
    background-position-y: center!important;
  }
}
.exhibition {
  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 100%;
}
.galleryHolder {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  image {
    max-height: 100%;
  }
}
.cursorPointer {
  cursor: pointer;
}
.colorWhite {
  color: #ffffff;
  margin-top: 15px;
  line-height: 1;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  img {
    max-height: 25px;
  }
  span {
    padding-left: 15px;
  }
}
.toolbar, .dialog {
  background: black!important;
  border-color: black!important;
}
</style>
