<template>
  <div class="home">
    <div class="row">
      <div class="col-md-12 carouselHolder">
        <carousel-3d v-if="slides && slides.length" ref="carousel" :onMainSlideClick="enterSlide">
          <template v-for="(item, ind) in slides">
            <slide :index="ind" :key="ind" class="pointer">
              <div class="showTitle">
              </div>
                <div class="hoverImage" @mouseleave="hideTitle()">{{item.name}}</div>
                <img :src="item.thumbnail"/>
            </slide>
          </template>
        </carousel-3d>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./Home.component.ts"/>
<style>
.home{
  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 100%;
}
.home i {
  font-size: 30px;
  cursor: pointer;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.pointer {
  cursor: pointer;
}

.showTitle:hover + .hoverImage {
  display:block;
}
.hoverImage:hover {
  display: block;
}

.showTitle {
  position: absolute;
  width: 100%;
  z-index: 99999;
  height: 100%;
}
.hoverImage {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 99999;
  height: 100%;
  background: rgba(0 ,0, 0, 0.6);
  text-align: center;
  color: white;
  font-size: 2em;
  padding-top: 30px;
}
.carouselHolder {
  position: relative;
}
</style>
